# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Файлы настроек IDE и редакторов
.vscode/
.idea/
*.swp

# Логи и временные файлы
*.log
.DS_Store

# Файлы с секретами и переменными окружения
.env

tasks.db